<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.min.css" />
    <title>KylieSkin</title>
</head>
<body>
    <div class="container details">
       <img src="img/logo_pink.jpg" class="logo"/>
       <span class="line"></span>
       <h1 class="detail_title">THANK YOU FOR PARTICIPATING!</h1>
       <h2 class="detail_sub_title">ENTER YOUR name and EMAIL IF YOU WOULD LIKE TO RECEIVE FURTHER INFORMATION, and claim your product</h2>
       <div class="input_container">
           <input type="text" placeholder="First name">
           <input type="text" placeholder="Last name">
       </div>
       <input type="text" class="input_email" placeholder="Email">
           <div class="keyboard_row end">
               <div class="keyboard_item">1</div>
               <div class="keyboard_item">2</div>
               <div class="keyboard_item">3</div>
               <div class="keyboard_item">4</div>
               <div class="keyboard_item">5</div>
               <div class="keyboard_item">6</div>
               <div class="keyboard_item">7</div>
               <div class="keyboard_item">8</div>
               <div class="keyboard_item">9</div>
               <div class="keyboard_item">0</div>
               <div class="keyboard_item">-</div>
           </div>
           <div class="keyboard_row">
            <div class="keyboard_item">@</div>
            <div class="keyboard_item">q</div>
            <div class="keyboard_item">w</div>
            <div class="keyboard_item">e</div>
            <div class="keyboard_item">r</div>
            <div class="keyboard_item">t</div>
            <div class="keyboard_item">y</div>
            <div class="keyboard_item">u</div>
            <div class="keyboard_item">i</div>
            <div class="keyboard_item">o</div>
            <div class="keyboard_item">p</div>
        </div>
        <div class="keyboard_row end">
            <div class="keyboard_item">a</div>
            <div class="keyboard_item">s</div>
            <div class="keyboard_item">d</div>
            <div class="keyboard_item">f</div>
            <div class="keyboard_item">g</div>
            <div class="keyboard_item">h</div>
            <div class="keyboard_item">j</div>
            <div class="keyboard_item">k</div>
            <div class="keyboard_item">l</div>
            <div class="keyboard_item del">del</div>
        </div>
        <div class="keyboard_row last">
            <div class="keyboard_item">~</div>
            <div class="keyboard_item">z</div>
            <div class="keyboard_item">x</div>
            <div class="keyboard_item">c</div>
            <div class="keyboard_item">v</div>
            <div class="keyboard_item">b</div>
            <div class="keyboard_item">n</div>
            <div class="keyboard_item">m</div>
            <div class="keyboard_item">_</div>
            <div class="keyboard_item">.</div>
        </div>
       <a class="submit_btn active" href="thankYou.html">Done</a>
       <img src="img/footer.jpg" alt="footer" class="footer_detail">
    </div>
</body>
</html>