<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>KylieSkin</title>
</head>

<body>
    <div class="container welcom">
        <img src="img/logo.png" class="welcom_img">
        <img src="img/background.jpg" alt="">
        <p class="black_line">{{EN: Tap to begin, or scan QR code for a contactless experience}}</p>
        <div class="welcom_wrapper">
            <a href="step_2.html" class="btn tap_to_start">{{EN: Tap to start}}</a>
            <div class="QR_code" id="qr_place"></div>
        </div>
    </div>
</body>

</html>