<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Product_5</title>
</head>

<body>
    <div class="container product">

        <div class="grid-position">
            <div class="grid-position--top">
                <img class="logo_pink" src="img/logo_pink.jpg" alt="">
                <div class="background">
                    <h1 class="background_logo">{{EN: Here is your carefully selected product}}</h1>
                    <div class="product1">
                        <h1>{{EN: Face Moisturiser}}</h1>
                        <h4>{{EN: MOISTURISE + SMOOTH}}</h4>
                        <p>{{EN: Our Face Moisturiser infused with a blend of humectants and emollients helps hydrate skin without
                    heaviness, greasiness or oiliness. Formulated with oat and orange peel extracts, this indulging
                    formula conditions, soothes and softens the skin for a soft, non-greasy finish.}}</p>
                        <div class="product_wraper">
                            <img class="img1" src="img/product5-img.jpg" alt="">
                            <img class="img2" src="img/product5-img5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-position--bottom">
                <a class="btn text_button" href="step_5.html">{{EN: Collect my sample}}</a>
                <div class="product_footer"></div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>