<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Questions_2</title>
</head>

<body>
    <div class="container questions2">

        <div class="grid-position">
            <div class="grid-position--top">
                <div class="logo_pink">
                    <img src="img/logo_pink.jpg" alt="">
                </div>
                <form class="question_wraper" action="step_4-p1.html" method="get">
                    <input type="hidden" name="question" data-question="question" data-last="last_question" value="What’s your main skin concern?" />

                    <img class="contant_img" src="img/content2-img1.jpg" alt="">
                    <div class="contact_info">
                        <p class="questions_logo">{{EN: Question 2}}</p>
                        <p class="questions">{{EN: What’s your main skin concern?}}</p>

                        <div class="btns">
                            <label class="btn question_btn">
                                <input data-answer="answer" type="submit" name="answer" value="Breakouts" hidden />
                                {{EN: Breakouts}}
                            </label>

                            <label class="btn question_btn">
                                <input data-answer="answer" type="submit" name="answer" value="Dry" hidden />
                                {{EN: Dry}}
                            </label>

                            <label class="btn question_btn">
                                <input data-answer="answer" type="submit" name="answer" value="Oily" hidden />
                                {{EN: Oily}}
                            </label>

                            <label class="btn question_btn">
                                <input data-answer="answer" type="submit" name="answer" value="All of the above" hidden />
                                {{EN: All of the above}}
                            </label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="grid-position--bottom">
                <img class="footer_img" src="img/footer_img2.jpg" alt="">
            </div>

        </div>
    </div>

    <script src="js/libs.min.js"></script>
    <script src="js/scripts.min.js"></script>
</body>

</html>