<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Product_1</title>
</head>

<body>
    <div class="container product">

        <div class="grid-position">
            <div class="grid-position--top">
                <img class="logo_pink" src="img/logo_pink.jpg" alt="">
                <div class="background">
                    <h1 class="background_logo">{{EN: Here is your carefully selected product}}</h1>
                    <div class="product1">
                        <h1>{{EN: Foaming Face wash}}</h1>
                        <h4>{{EN: CLEANSE + NOURISH}}</h4>
                        <p>{{EN: Our luxurious foaming face wash is infused with ultra-nourishing kiwi seed oil, packed with Vitamin C
                        and E to help maintain moisture and improve elasticity. This gentle formula cleanses skin by helping
                        to remove dirt, oil and makeup for a fresh, bright complexion.}}</p>
                        <div class="product_wraper">
                            <img class="img1" src="img/product1-img.jpg" alt="">
                            <img class="img2" src="img/product1-img1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-position--bottom">
                <a class="btn text_button" href="step_5.html">{{EN: Collect my sample}}</a>
                <div class="product_footer"></div>
            </div>
        </div>
    </div>

</body>

</html>