<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="odore" content="release-probe" nextstep="index.html" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>KylieSkin</title>
</head>

<body>
    <div class="container thank_you">
        <img class="welcom_img" src="img/logo.png" alt="">
        <p class="title">{{EN: THANK YOU!}}</h1>
        <p class="sub_title">{{EN: Your product is on the way}}</p>
    </div>
</body>

</html>