<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Product_3</title>
</head>

<body>
    <div class="container product">

        <div class="grid-position">
            <div class="grid-position--top">
                <img class="logo_pink" src="img/logo_pink.jpg" alt="">
                <div class="background">
                    <h1 class="background_logo">{{EN: Here is your carefully selected product}}</h1>
                    <div class="product1">
                        <h1>{{EN: Vanilla Milk Toner}}</h1>
                        <h4>{{EN: BALANCE + PREP}}</h4>
                        <p>{{EN: Our gentle alcohol-free facial toner helps replenish the look and feel of your skin. It is formulated
                    with avocado oil, kiwi seed oil and apple extract to help soothe, tone and restore natural
                    hydration. This toner helps unclog, purify and minimize the appearance of pores.}}</p>
                        <div class="product_wraper">
                            <img class="img1" src="img/product3-img.jpg" alt="">
                            <img class="img2" src="img/product3-img3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-position--bottom">
                <a class="btn text_button" href="step_5.html">{{EN: Collect my sample}}</a>
                <div class="product_footer"></div>
            </div>
        </div>
    </div>
</body>

</html>